/* Please define your custom styles here */

.timer_caption {
  margin: auto;
  font-style: arial;
  font-size: 48;
}

.timer_float {
  padding-top: 15%;
  float: right;
}

#trial_timer_left {
  margin: auto;
  float: left;
}

#trial_timer_right {
  padding-top: 20%;
  margin: auto auto auto 5px;
  float: right;
}

#timer_container {
  margin: auto;
}